@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Work+Sans');

body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Work Sans', sans-serif;
}

#page-header {
  background-color: #008CBA;
  vertical-align: middle;
}

#page-title {
  font-family: 'Fredoka One', cursive;
  margin: 0;
  color: white;
  display: inline-block;
  font-size: 7.5vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#panel-count {
  color: white;
}

#user-settings {
  display: inline-block;
  border: 1px solid black;
  background-color: white;
  color: black;
  text-align: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  font-family: 'Fredoka One', cursive;
  font-size: 2.5em;
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  color: black;
  cursor: pointer;
}

.subheading {
  margin: 0;
  font-size: 3em;
  text-overflow: inherit;
  padding-left: 20px;
}

.vert-line {
  height: 60vh;
  width: 4px;
  background-color: black;
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
